@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: auto;
}
.container-fluid{
    padding: 25px 60px 25px 60px;
  }
.Bitcare_img1{
    padding-bottom: 40px;
    padding-left: 5px;
}
.cryoskin_header{
    font-size: 30px;
    color: #1f403d;
    font-weight: bold;
    font-family: 'Rozha One';
    text-align: center;
    padding-bottom: 20px;
}
.cryoskin_content{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    text-align: justify;
}
.cryoskin_text{
    margin: 8px 0;
    color: #1f403d;
    font-weight: bold;
    font-size: 20px;
}
.cryoskin_subheader{
    font-size: 20px;
    color: #1f403d;
    font-family: 'Poppins Light', sans-serif;
    padding-bottom: 10px;
    font-weight: 600;
}
.cryoskin_subtext{
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    font-weight: bold;
}
.cryoskin_input{
    padding: 5px 20px;
    box-sizing: border-box;
    border: none;
    background-color: #efe2ea;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    border-radius: 0px;
}
.cryoskin_input:focus{
    outline-color: #1f403d;
    border: 2px solid #1f403d;
    box-shadow: none;
    background-color: #efe2ea;
    color: #1f403d;
}
.cryoskin-header1{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 20px;
    border: none;
    border-radius: 0px;
}
.bg_cryoskin{
    background-color: #ffffff;
    height: 280px;
    border: 1px solid gray;
}
canvas{
    width: 100%;
    height: 280px;
}
.cryoskin_content1{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    font-weight: 600;
}
#clear_bttn, #save_bttn{
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    background-color: #f5f5f5;
    border: 1px solid black;
    transition: 1s;
    font-family: 'Poppins Light', sans-serif;
}
@media (max-width: 987px){
    .container-fluid{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 820px){
    .cryoskin_container{
        font-size: 20px;
    }
}