.sidebar {
    .search {
        border-bottom: 1px solid gray;

        .searchForm {
          padding: 10px;

          input {
            outline: none;
            width: 100%;
            height: 30px;
            padding: 0 5px;
          }
        }
      }

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #02704A;
        cursor: pointer;

        &:hover {
          background-color: #E7EDE5;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 16px;
            font-weight: 500;
          }
          p {
            font-size: 12px;
            margin-bottom: 0px;
            // color: lightgray;
          }
        }
      }
}

.chat {
    height: calc(100% - 40px);
    overflow: hidden;
    .chatInfo {
        height: 60px;
        background-color: #02704A;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        color: lightgray;
        gap: 10px;
        img {
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .messages {
        background-color:#E7EDE5 ;
        padding: 10px;
        height: calc(100% - 110px);
        overflow: scroll;

        .message{
            display: flex;
            gap: 20px;
            margin-bottom: 20px;

            .messageInfo {
                display: flex;
                flex-direction: column;
                font-weight: 300;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .messageContent {
                max-width: 65%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                p{
                    background-color: white;
                    padding: 10px 20px;
                    border-radius: 0px 10px 10px 10px;
                    max-width: max-content;
                }

                img {
                    width: 50%;
                }

                
            }
            &.owner {
                flex-direction: row-reverse;

                .messageContent {
                    align-items: flex-end;
                p{
                    background-color: #02704A;
                    color: white;
                    border-radius: 10px 0px 10px 10px;

                }
            }
            }
        }
    }

    .input {
        // background-color: white;
        height: 50px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }

    input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 16px;
    }

    .send {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 24px;
            cursor: pointer;
        }

        label {
            margin-bottom: 0;
        }

        button {
            border: none;
            padding: 10px;
        }
    }
}